<footer class="bg-dark text-white">
  <div class="text-center pt-2 pb-2">
    <a class="p-3 text-decoration-none text-white fw-bold" routerLink="/about">
      About us
    </a>
    <span>|</span>
    <a class="p-3 text-decoration-none text-white fw-bold" routerLink="/">
      How it started
    </a>
    <span>|</span>
    <a
      class="p-3 text-decoration-none text-white fw-bold"
      routerLink="/contact"
    >
      Contact me
    </a>
  </div>
  <div class="text-center">
    <a href="#" class="social-icon text-white">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="#" class="social-icon text-white">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-icon text-white">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="social-icon text-white">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <div class="text-center p-1">
    <p>&copy; 2023 Group 5</p>
  </div>
</footer>
