<div class="cont bg-light">
  <div class="info">
    <h1>BIOGRAPHY</h1>
    <p class="test">
      Eolo Perfido is an Italian portrait photographer and creative director
      based in Rome, Italy. He runs one of the biggest photo studios in Italy
      and the last decades he collaborated with several international
      advertising and communication agencies such as<span class="span_text">
        JWT, Saatchi & Saatchi, Leo Burnett, Young & Rubicam, BBDO, United 1861,
        Grey and Blossom Communication.</span
      >
    </p>
    <div class="">
      <img class="eolo1" src="/assets/img/eolo1.jpg" alt="" />
    </div>

    <div class="myContainer">
      <p class="first">
        Eolo Perfido photography has been featured in magazines such as
        <span class="first_first"
          >NY Times, Communication Arts, Panorama First, Vision, Vogue Russia,
          GQ Russia, Communication Arts, L'Espresso, and Computer Arts</span
        >
        and he worked for several international clients like<span
          class="first_first1"
        >
          Pepsi Cola, Samsung, Pirelli, Kraft, Gatorade, Sky Television,
          Novartis and Opel.</span
        >
      </p>
      <p class="second">
        At the beginning of his career, he was honored to assist on the field
        photographers like<span class="second_second">
          Steve McCurry, Elliott Erwitt, Eugene Richards, and James
          Nachtwey</span
        >
        in several of their shootings in Europe, Africa, Asia, and South
        America.
      </p>
      <p class="third">
        His creative path has allowed him to win several major awards in the
        field of creative photography. In 2009 he was awarded the first prize of
        the<span class="third_third">
          National Association of Italian Professional Photographers Tau Visual </span
        >for the artistic quality of its images.
      </p>
      <p class="four">
        In 2010 he was awarded the
        <span class="four_four">Best International Portrait Photographer" </span
        >during the fine art photography exhibition<span class="four_four4">
          “Photo Vernissage”</span
        >
        which was held at the Manege Museum in St. Petersburg, which saw the
        participation of hundreds of photographers from around the world.
      </p>
      <p class="five">
        In 2011, the Italian magazine<span class="five_five"> L'Espresso </span
        >chose along with other nine young Italians creatives who have been
        asked to tell through a picture the 150th anniversary of the Unification
        of Italy.
      </p>
      <p class="six">
        In 2019 he won the prestigious<span class="six_six">
          Luce Iblea award </span
        >for his <span class="six_six6">street photography</span>.
      </p>
      <p class="seven">
        In 2021 he won the <span class="seven_seven">bronze medal</span> @ the
        <span class="seven_seven7"
          >Cannes Lions International Festival of Creativity</span
        >
        with a campaign by TBWA\PARIS for
        <span class="seven_seven77">Leica Camera.</span>
      </p>
      <p class="eight">
        <img
          src="/assets/img/logo.jpeg"
          alt="Description of the image"
          class="image"
        />
        In 2022 he won the prestigious
        <span class="eight_eight">Amedeo Modigliani Foundation Award</span> for
        his career as a portrait photographer and his contribution to the world
        of culture.
      </p>
      <p class="nine">
        Eolo also follows a personal artistic journey that leads him to exhibit
        his fine art photography series in numerous private galleries. Among his
        most successful fine art projects is the photographic series
        <span class="nine_nine">Clownville,</span> recently presented in two
        solo shows at
        <span class="nine_nine9">Galleria Janet Coast of Recife in Brazil </span
        >and the <span class="nine_nine99">Leica Galerie in Milano.</span>
      </p>
      <p class="ten">
        Eolo is also an educator, and over the last 10 years, he has created a
        series of very successful worldwide photography seminars focused on
        <span class="ten_ten10"
          >Portrait Photography, Travel Portraits, Street Photography,
        </span>
        and <span class="ten_ten">Post Production. </span>
      </p>
      <p class="eleven">
        In 2016 he created with Fabio Timpanaro and Antonella Catanese a Digital
        Artists collective named
        <span class="eleven_eleven">Storm Studio</span>, specialized in Creative
        Retouching, Digital Imaging,
        <span class="eleven_eleven7">Digital Illustration </span>, Advertising
        Still Visuals, Post Production, and 3D CGI.
      </p>
      <p class="twelve">
        One of the best known
        <span class="twelve_twelve">Italian Street Photographers</span>,
        <span class="twelve12">Leica Ambassador </span> between 2013 and 2018,
        today Eolo is a
        <span class="twelve122">Leica Certified Photographer </span> and
        <span class="twelve22">Leica Akademie instructor.</span>
      </p>
      <p class="lecia">CERTIFIED BY <span class="lei">LEICA</span></p>
      <p class="thirteen">
        Since 2022 Eolo is a
        <span class="thir33">Profoto Illuminati Ambassador.</span>
      </p>
      <p class="fourteen">
        Since January 2019 he is the Editorial Director of
        <span class="fourteen14">ExibartStreet Magazine </span>, a new editorial
        platform dedicated to street photography and part the Exibart Magazine,
        the most important Italian editorial network dedicated to contemporary
        art.
      </p>
      <p class="fifteen">
        Since 2020 he is the Studio Director of the
        <span class="fifteen15">LineaB Photographic Studios in Rome.</span>
      </p>
      <p class="sixty">
        Since 2021 he is the artistic director of
        <span class="sixty16">Molinchrom: Festival of Nomad Photography </span>
        an international Photographic Festival held in Molise.
      </p>
      <p class="seventeen">
        <img
          src="/assets/img/logo xiaomi.png"
          alt="Description of the image"
          class="image_xiaomi"
        />
        Since 2023 he is a Master Instructor for the
        <span class="seventeen17">Xiaomi Imagery Online Master Class </span>
        supported by Leica.7
      </p>
      <div class="clients">
        <h2>Clients</h2>
        <hr />
      </div>
      <div class="clients-logo row row-cols-lg-4">
        <img class="bmw" src="/assets/img logo/bmw.png" alt="" />
        <img class="pepsi" src="/assets/img logo/pepsi.png" alt="" />
        <img class="samsung" src="/assets/img logo/samsung.png" alt="" />
        <img class="sky" src="/assets/img logo/sky.png" alt="" />
      </div>
      <div class="Advertising-Agencies">
        <h3>Advertising-Agencies</h3>
        <hr />
      </div>
      <div class="Advertising-Agencies-logo row row-cols-lg-4">
        <img class="bbdo" src="/assets/img logo/bbdo.png" alt="" />
        <img class="jwt" src="/assets/img logo/jwt.png" alt="" />
        <img class="ddb" src="/assets/img logo/ddb.png" alt="" />
        <img class="yr" src="/assets/img logo/yr.svg" alt="" />
      </div>
      <div class="Magazines">
        <h3>Magazines</h3>
        <hr />
        <div class="Magazines-logo row row-cols-lg-4">
          <img class="vg" src="/assets/img logo/vg.png" alt="" />
          <img class="pana" src="/assets/img logo/pana.png" alt="" />
          <img class="gq" src="/assets/img logo/gq.png" alt="" />
          <img class="hot" src="/assets/img logo/hot.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
