<section class="myTestimonials" id="testimonials">
  <div class="container">
    <h1 class="text-center pb-5">Testimonials</h1>
    <div class="myRow">
      <div class="myBox">
        <h3>Robert Adams</h3>
        <p>
          "No place is boring, if you've had a good night's sleep and have a
          pocket full of unexposed film"
        </p>
        <hr />
        <p>
          <i class="fa-solid fa-circle-user fa-lg" style="color: #999b9f"></i>
          Dejan | 10 min ago
        </p>
      </div>

      <div class="myBox">
        <h3>Imogen Cunningham</h3>
        <p>
          "Which of my photographs is my favorite? The one I'm going to take
          tomorrow."
        </p>
        <hr />
        <p>
          <i class="fa-solid fa-circle-user fa-lg" style="color: #999b9f"></i>
          Arbër | 1 hour ago
        </p>
      </div>

      <div class="myBox">
        <h3>Andy Warhol</h3>
        <p>
          "The best thing about a picture is that it never changes, even when
          the people in it do."
        </p>
        <hr />
        <p>
          <i class="fa-solid fa-circle-user fa-lg" style="color: #999b9f"></i>
          Periklis | 2 days ago
        </p>
      </div>
    </div>
  </div>
</section>
