<section class="myHome bg-success-subtle" id="home">
  <div class="card text-bg-dark rounded-0">
    <img src="./assets/img/header2.jpg" class="card-img rounded-0" alt="..." />
    <div class="card-img-overlay">
      <h5 class="card-title aTest">Click the Sound of Creating memories!</h5>
    </div>
  </div>

  <section>
    <div class="customers mt-5 mb-5">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h1>ASHLEY MAXWELL</h1>
            <br />
            <p class="mx-auto">PHOTOGRAPHY</p>
          </div>
          <div class="carousel-item text-center">
            <h1>CHELSEA SLIWA</h1>
            <br />
            <p class="mx-auto">PHOTOGRAPHY</p>
          </div>
          <div class="carousel-item text-center">
            <h1>TIMOTHY RICKS</h1>
            <br />
            <p class="mx-auto">VIDEOGRAPHER</p>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <section>
    <section class="section mySection2">
      <div class="container">
        <div class="row bg-dark text-center">
          <div class="col-md-6 col-lg-3">
            <div class="row">
              <div class="col-5 text-right text-light border-right py-3">
                <div class="m-auto">
                  <i class="fa fa-camera-retro fa-3x"></i>
                </div>
              </div>
              <div class="col-7 text-left py-3">
                <h1 class="text-warning font-weight-bold font40">100+</h1>
                <p class="text-light mb-1">Moments Captured</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="row">
              <div class="col-5 text-right text-light border-right py-3">
                <div class="m-auto">
                  <i class="fa fa-earth-americas fa-3x"></i>
                </div>
              </div>
              <div class="col-7 text-left py-3">
                <h1 class="text-warning font-weight-bold font40">35</h1>
                <p class="text-light mb-1">Countries Explored</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="row">
              <div class="col-5 text-right text-light border-right py-3">
                <div class="m-auto">
                  <i class="fa fa-face-smile fa-3x"></i>
                </div>
                <i class=""></i>
              </div>
              <div class="col-7 text-left py-3">
                <h1 class="text-warning font-weight-bold font40">200+</h1>
                <p class="text-light mb-1">Happy Clients</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="row">
              <div class="col-5 text-right text-light border-right py-3">
                <div class="m-auto">
                  <i class="fa fa-dog fa-3x"></i>
                </div>
              </div>
              <div class="col-7 text-left py-3">
                <h1 class="text-warning font-weight-bold font40">3k+</h1>
                <p class="text-light mb-1">Dogs Petted</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
